@model List<TasksToDo>

@{
    ViewData["Title"] = "List";
}

<h1>List of tasks</h1>


<my-first-tag-helper header="Reklama 1" text="Text reklama 1"></my-first-tag-helper>

<a asp-controller="TasksToDo" asp-action="CreateForm">Create New</a>

<h3>List of finished tasks</h3>

<table class="table">
    <tr>
        <th>Reden Broj</th>
        <th>Desctiption</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>IsFinished</th>
        <th>Number of hours</th>
        <th>Delete</th>
        <th>Details</th>
        <th>Edit</th>
    </tr>

    @foreach (var item in Model.Where(x => x.IsFinished == true))
    {
        <tr style="background-color: greenyellow">
            <td>@item.RedenBroj</td>
            <td>@item.Description</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.IsFinished</td>
            <td>@item.NumberOfHours</td>
            <td><a asp-controller="TasksToDo" asp-action="Delete" asp-route-redenbroj="@item.RedenBroj">Delete</a></td>
            <td><a asp-controller="TasksToDo" asp-action="Details" asp-route-redenbroj="@item.RedenBroj">Details</a></td>
            <td><a asp-controller="TasksToDo" asp-action="EditForm" asp-route-redenbroj="@item.RedenBroj">Edit</a></td>
        </tr>
    }
</table>


<h4>The total hours: @FindSum(Model)</h4>
<h3>List of unfinished tasks</h3>

<table class="table">
    <tr>
        <th>Reden Broj</th>
        <th>Desctiption</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>IsFinished</th>
        <th>Delete</th>
        <th>Details</th>
        <th>Edit</th>
    </tr>

    @foreach (var item in Model.Where(x => x.IsFinished == false))
    {
<tr style="background-color: red">
    <td>@item.RedenBroj</td>
    <td>@item.Description</td>
    <td>@item.StartDate</td>
    <td>@item.EndDate</td>
    <td>@item.IsFinished</td>
    <td><a asp-controller="TasksToDo" asp-action="Delete" asp-route-redenbroj="@item.RedenBroj">Delete</a></td>
    <td><a asp-controller="TasksToDo" asp-action="Details" asp-route-redenbroj="@item.RedenBroj">Details</a></td>
    <td><a asp-controller="TasksToDo" asp-action="EditForm" asp-route-redenbroj="@item.RedenBroj">Edit</a></td>
</tr>
    }
</table>





@functions
{

    public int Sum(int n1, int n2)
    {
        return (n1 + n2) + 2;
    }



    public string SubstringOfString(string input, int numberOfCharactersToTake)
    {
        return input.Substring(0, numberOfCharactersToTake);
    }


    public int? FindSum(List<TasksToDo> list)
    {
        return list.Where(a => a.IsFinished == true).Sum(b => b.NumberOfHours);
    }
}